body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5; /* Color de fondo del cuerpo */
}

.jugador {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff; /* Fondo del contenedor del jugador */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el ratón */
}

h2 {
    margin-bottom: 10px;
    color: #333; /* Color del encabezado */
}

p {
    margin: 0;
    color: #666; /* Color del texto */
}
